.indicator {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 0.4rem;
}

.level {
  flex: 1 1 auto;
  height: 0.4rem;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  opacity: 0.5;

  transition: 0.4s linear all;

  position: relative;

  // &:before {
  //   display: block;
  //   content: ' ';
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   width: 0%;
  //   background-color: #6558f5;
  //   transition: 0.1s linear all;
  // }

  &.active {
    opacity: 1;
    border: 1px solid #6558f5;
    background-color: #6558f5;

    // &:before {
    //   width: 100%;
    // }
  }

  & + & {
    margin-left: 0.3rem;
  }
}
