.Header {
  padding: 0.5rem 0;

  display: flex;
  align-items: center;
  justify-content: center;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  .spacer {
    flex: 1 1 auto;
  }

  @media screen and (max-width: 992px) {
    flex: 1 1 auto;
    padding: 0;
  }

  .search {
    border: 0;
    outline: none;
    width: 40px;
    margin-right: 10px;

    &.expanded {
      width: 300px;
    }
  }
}

.link {
  text-align: right;
}

.avatar {
  cursor: pointer;
}
